In [12]:
import pandas as pd

In [13]:
sleep = pd.read_csv('./sleep.csv')

In [14]:
total_mean = sleep['extra'].mean()

In [15]:
X = sleep['extra']

In [16]:
import numpy

In [17]:
SS_total = numpy.sum((X - total_mean) ** 2)

In [18]:
sleep.groupby('group').agg({'extra': 'mean'})
#sleep을 group 변수에 따라(by) 그룹을 지어 (group) extra 컬럼을 평균(mean) 내라

       extra
group
1       0.75
2       2.33

In [19]:
SS_between = (
    10 * (0.75 - total_mean) ** 2      # 1번그룹의 10명의 사람이 모두 0.75시간만 잤다고 가정
    + 10 * (2.33 - total_mean) ** 2    # 2번그룹의 10명의 사람이 모두 2.33시간만큼 잤다고 가정
)

In [20]:
eta_squared = SS_between / SS_total

In [21]:
eta_squared    #eta_squared: 집단간 차이가 수면시간의 16.1%를 설명한다

0.16133285079102466