In [2]:
import pandas as pd

# Read data

In [3]:
train = pd.read_csv('../Data/kaggle/train.csv')
test = pd.read_csv('../Data/kaggle/test.csv')

In [4]:
train.sample()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
846,847,0,3,"Sage, Mr. Douglas Bullen",male,NaN,8,2,CA. 2343,69.55,NaN,S

# concat train and test
왜 합쳐줘야 하나요?

In [24]:
train_drop_Survived = train.drop('Survived', axis=1)

In [26]:
train_drop_Survived['tag'] = 'train'
test['tag'] = 'test'

In [28]:
df = pd.concat([train_drop_Survived, test])

In [29]:
# Age, Fare에 null 값이 있네요. Age에는 빈 값들이 많고, Fare는 딱 하나 비어있어요.
df.isnull().sum()

PassengerId       0
Pclass            0
Name              0
Sex               0
Age             263
SibSp             0
Parch             0
Ticket            0
Fare              1
Cabin          1014
Embarked          2
tag               0
dtype: int64

### Fare가 null 인 것을 index로 찾아볼까요?

In [15]:
X.loc[X['Fare'].isnull(), :]

     Pclass   Age  SibSp  Parch  Fare Embarked   tag
152       3  60.5      0      0   NaN        S  test

### Q. 비어있는 Fare 데이터를 적당한 값을 채워넣어 주세요.

In [16]:
# Answer

### Q. 비어있는 Age 데이터를 적당한 값으로 채워넣어 주세요.

방법 1. 전체 데이터의 평균, 중앙, 최빈 중에 하나로 채워넣어준다.

In [18]:
# Answer

방법 2-1. 다른 변수들을 1개를 활용해 그룹 별 평균, 중앙, 최빈값들로 넣어준다.   
예를 들어, Pclass별로 Age가 눈에 띄게 다른 것을 발견했다면 Pclass별 평균 또는 중앙값으로 null 값들을 대체해준다.

In [19]:
# Answer

방법 2-2. 다른 변수들을 2개 이상을 활용해 그룹 별 평균, 중앙, 최빈값들로 넣어준다.
예를 들어 티켓의 클래스, 승선 항구 별로 Age가 다르다는 것을 발견했다면 Pclass, Embarked의 조합 그룹 별 평균 또는 중앙값으로 null 값들을 대체해준다.

In [20]:
# Answer

방법 3. 회귀 분석으로 null 값들을 예측한다.

In [21]:
# Answer

### Q. Cabin, Embarked 컬럼의 경우에는 어떻게 해주면 좋을까요?

In [30]:
# Answer

### 사용할 컬럼들에 null 값이 없는지 최종적으로 확인하세요.

In [31]:
# Answer

# 작업물을 저장하세요.

In [34]:
# Answer