In [1]:
import pandas as pd

# read in data

tripChain = pd.read_csv('./data/tripChain_by_time_removed.csv')

In [2]:
tripChain.drop(['Unnamed: 0'], axis=1, inplace=True)
tripChain

,버스노선ID1,버스노선ID2,버스노선ID3,버스노선ID4,버스노선ID5,승차역ID1,승차역ID2,승차역ID3,승차역ID4,승차역ID5,...,승차시간1,승차시간2,승차시간3,승차시간4,승차시간5,하차시간1,하차시간2,하차시간3,하차시간4,하차시간5
0,41036102.0,NaN,NaN,NaN,NaN,4116902,NaN,NaN,NaN,NaN,...,7,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN
1,41020001.0,NaN,NaN,NaN,NaN,4100127,NaN,NaN,NaN,NaN,...,8,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN
2,41031019.0,41027008.0,NaN,NaN,NaN,4108052,4122215.0,NaN,NaN,NaN,...,18,19.0,NaN,NaN,NaN,18.0,19.0,NaN,NaN,NaN
3,41027009.0,NaN,NaN,NaN,NaN,4196993,NaN,NaN,NaN,NaN,...,19,NaN,NaN,NaN,NaN,19.0,NaN,NaN,NaN,NaN
4,41002046.0,NaN,NaN,NaN,NaN,4135014,NaN,NaN,NaN,NaN,...,7,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN
5,41036108.0,NaN,NaN,NaN,NaN,4108026,NaN,NaN,NaN,NaN,...,17,NaN,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN
6,41021102.0,NaN,41061027.0,NaN,NaN,4103301,1704.0,4108044.0,NaN,NaN,...,18,18.0,19.0,NaN,NaN,18.0,19.0,20.0,NaN,NaN
7,41031040.0,NaN,NaN,NaN,NaN,4108026,NaN,NaN,NaN,NaN,...,18,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN
8,41031019.0,41027004.0,NaN,NaN,NaN,4108158,4122215.0,NaN,NaN,NaN,...,18,18.0,NaN,NaN,NaN,18.0,18.0,NaN,NaN,NaN
9,41036113.0,NaN,NaN,NaN,NaN,4160358,NaN,NaN,NaN,NaN,...,17,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN
10,41002044.0,NaN,NaN,NaN,NaN,4111816,NaN,NaN,NaN,NaN,...,9,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN
11,NaN,41067012.0,NaN,NaN,NaN,1702,4100042.0,NaN,NaN,NaN,...,18,19.0,NaN,NaN,NaN,19.0,20.0,NaN,NaN,NaN
12,41002045.0,NaN,NaN,NaN,NaN,4150142,NaN,NaN,NaN,NaN,...,17,NaN,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN
13,41074057.0,NaN,NaN,NaN,NaN,4195391,NaN,NaN,NaN,NaN,...,7,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN
14,41074057.0,NaN,NaN,NaN,NaN,4197425,NaN,NaN,NaN,NaN,...,18,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN
15,41031125.0,NaN,NaN,NaN,NaN,4117044,4318.0,NaN,NaN,NaN,...,8,9.0,NaN,NaN,NaN,9.0,9.0,NaN,NaN,NaN
16,41031024.0,NaN,NaN,NaN,NaN,4117049,NaN,NaN,NaN,NaN,...,9,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN
17,41031020.0,41031002.0,NaN,NaN,NaN,4108052,4107929.0,NaN,NaN,NaN,...,19,19.0,NaN,NaN,NaN,19.0,20.0,NaN,NaN,NaN
18,41074061.0,NaN,NaN,NaN,NaN,4130514,NaN,NaN,NaN,NaN,...,17,NaN,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN
19,41075017.0,NaN,41012101.0,NaN,NaN,4100048,1716.0,4117037.0,NaN,NaN,...,8,8.0,8.0,NaN,NaN,8.0,8.0,9.0,NaN,NaN
20,41419009.0,41002044.0,NaN,NaN,NaN,4111741,4111753.0,NaN,NaN,NaN,...,9,9.0,NaN,NaN,NaN,9.0,9.0,NaN,NaN,NaN
21,41002045.0,NaN,NaN,NaN,NaN,4150142,NaN,NaN,NaN,NaN,...,18,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN
22,NaN,41008148.0,NaN,NaN,NaN,1808,4117183.0,NaN,NaN,NaN,...,8,9.0,NaN,NaN,NaN,9.0,10.0,NaN,NaN,NaN
23,41008170.0,NaN,NaN,NaN,NaN,4199074,1713.0,NaN,NaN,NaN,...,19,19.0,NaN,NaN,NaN,NaN,21.0,NaN,NaN,NaN
24,41006407.0,NaN,NaN,NaN,NaN,4119246,4501.0,NaN,NaN,NaN,...,9,10.0,NaN,NaN,NaN,10.0,10.0,NaN,NaN,NaN
25,41002046.0,41031018.0,41002044.0,NaN,NaN,4107930,4108071.0,4100117.0,NaN,NaN,...,19,20.0,21.0,NaN,NaN,19.0,20.0,21.0,NaN,NaN
26,NaN,41003904.0,41075031.0,NaN,NaN,211,4108431.0,4195716.0,NaN,NaN,...,17,17.0,19.0,NaN,NaN,17.0,19.0,19.0,NaN,NaN
27,41021030.0,NaN,41317004.0,41067135.0,NaN,4100057,1710.0,4151651.0,NaN,NaN,...,9,10.0,10.0,10.0,NaN,10.0,10.0,10.0,11.0,NaN
28,41324002.0,41086005.0,11110659.0,11110663.0,NaN,4170253,4108015.0,9012723.0,NaN,NaN,...,7,7.0,8.0,8.0,NaN,7.0,8.0,8.0,8.0,NaN
29,41086004.0,41067135.0,NaN,NaN,NaN,4116517,4121024.0,NaN,NaN,NaN,...,18,19.0,NaN,NaN,NaN,19.0,19.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463594,41067012.0,41031108.0,41036022.0,NaN,NaN,4170343,4108045.0,4117242.0,NaN,NaN,...,8,8.0,9.0,NaN,NaN,8.0,9.0,10.0,NaN,NaN
463595,41074077.0,NaN,NaN,NaN,NaN,4130519,NaN,NaN,NaN,NaN,...,8,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN
463596,41036108.0,41036111.0,41067131.0,NaN,NaN,4108221,4108035.0,4130121.0,NaN,NaN,...,7,7.0,7.0,NaN,NaN,7.0,7.0,7.0,NaN,NaN
463597,41002045.0,NaN,NaN,NaN,NaN,4179386,NaN,NaN,NaN,NaN,...,18,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN
463598,41031030.0,41201001.0,NaN,NaN,NaN,4117056,4108071.0,NaN,NaN,NaN,...,8,9.0,NaN,NaN,NaN,8.0,9.0,NaN,NaN,NaN
463599,41031013.0,NaN,NaN,NaN,NaN,4117055,NaN,NaN,NaN,NaN,...,19,NaN,NaN,NaN,NaN,20.0,NaN,NaN,NaN,NaN
463600,41036131.0,NaN,NaN,NaN,NaN,4108010,NaN,NaN,NaN,NaN,...,7,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN
463601,41036132.0,NaN,NaN,NaN,NaN,4108028,NaN,NaN,NaN,NaN,...,18,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN
463602,41204004.0,41031121.0,NaN,NaN,NaN,4116362,4102825.0,NaN,NaN,NaN,...,8,8.0,NaN,NaN,NaN,8.0,8.0,NaN,NaN,NaN
463603,41031110.0,NaN,NaN,NaN,NaN,4116362,NaN,NaN,NaN,NaN,...,17,NaN,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN
463604,41031109.0,NaN,NaN,NaN,NaN,4108229,NaN,NaN,NaN,NaN,...,18,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN
463605,41002044.0,NaN,NaN,NaN,NaN,4102825,1713.0,NaN,NaN,NaN,...,7,7.0,NaN,NaN,NaN,7.0,8.0,NaN,NaN,NaN
463606,41002045.0,NaN,NaN,NaN,NaN,4100608,NaN,NaN,NaN,NaN,...,9,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN
463607,41020001.0,NaN,NaN,NaN,NaN,4100084,NaN,NaN,NaN,NaN,...,9,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN
463608,41002045.0,NaN,NaN,NaN,NaN,4110130,NaN,NaN,NaN,NaN,...,9,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN
463609,41036111.0,NaN,NaN,NaN,NaN,4170977,NaN,NaN,NaN,NaN,...,18,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN
463610,41036102.0,NaN,NaN,NaN,NaN,4108220,NaN,NaN,NaN,NaN,...,7,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN
463611,41489008.0,41067012.0,NaN,NaN,NaN,4121991,4130412.0,NaN,NaN,NaN,...,7,7.0,NaN,NaN,NaN,7.0,7.0,NaN,NaN,NaN
463612,41067012.0,41086011.0,41075029.0,NaN,NaN,4176975,4130401.0,4121994.0,NaN,NaN,...,17,18.0,18.0,NaN,NaN,18.0,18.0,18.0,NaN,NaN
463613,41086008.0,NaN,NaN,NaN,NaN,4102833,NaN,NaN,NaN,NaN,...,8,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN
463614,41067109.0,NaN,NaN,NaN,NaN,4130055,NaN,NaN,NaN,NaN,...,17,NaN,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN
463615,41002045.0,NaN,NaN,NaN,NaN,4116802,NaN,NaN,NaN,NaN,...,7,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN
463616,41002046.0,NaN,NaN,NaN,NaN,4110254,NaN,NaN,NaN,NaN,...,17,NaN,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN
463617,41031108.0,NaN,NaN,NaN,NaN,4130034,NaN,NaN,NaN,NaN,...,19,NaN,NaN,NaN,NaN,19.0,NaN,NaN,NaN,NaN
463618,41002044.0,41002090.0,41423008.0,NaN,NaN,4116709,4150553.0,4111735.0,NaN,NaN,...,7,8.0,8.0,NaN,NaN,8.0,8.0,8.0,NaN,NaN
463619,41425002.0,41002090.0,41002044.0,NaN,NaN,4111623,4111736.0,4111900.0,NaN,NaN,...,18,18.0,18.0,NaN,NaN,18.0,18.0,19.0,NaN,NaN
463620,41036131.0,NaN,NaN,NaN,NaN,4117235,NaN,NaN,NaN,NaN,...,18,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN
463621,41067005.0,NaN,NaN,NaN,NaN,4198644,NaN,NaN,NaN,NaN,...,8,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN
463622,41067012.0,NaN,NaN,NaN,NaN,4108208,NaN,NaN,NaN,NaN,...,18,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN
463623,41036032.0,41031049.0,41003011.0,NaN,NaN,4116952,4108216.0,4116882.0,NaN,NaN,...,7,7.0,7.0,NaN,NaN,7.0,7.0,8.0,NaN,NaN

In [3]:
df_usage = pd.read_csv('./df_usage_hacha5.csv')
df_usage.drop(['Unnamed: 0'], axis=1, inplace=True)
df_usage.drop_duplicates(subset =['노선ID', '표준정류장ID', '시간대'], keep = 'first', inplace = True) 
df_usage['시간대'] = df_usage.시간대.astype(str)
df_usage

               노선ID    표준정류장ID 시간대  승차  하차  환승
0        41036102.0  4116902.0   7   0   0   0
1        41036102.0  4116902.0   8   0   0   0
2        41036102.0  4116902.0   9   0   0   0
3        41036102.0  4116902.0  17   0   0   0
4        41036102.0  4116902.0  18   0   0   0
...             ...        ...  ..  ..  ..  ..
3722683  41283011.0  4107159.0   8   0   0   0
3722684  41283011.0  4107159.0   9   0   0   0
3722685  41283011.0  4107159.0  17   0   0   0
3722686  41283011.0  4107159.0  18   0   0   0
3722687  41283011.0  4107159.0  19   0   0   0

[173796 rows x 6 columns]

In [ ]:
df_usage[df_usage['하차'] != 0]

In [ ]:
df_usage.shape

In [ ]:
df_usage1=tripChain[['버스노선ID1', '승차역ID1']]
df_usage1 = df_usage1.rename(columns={'버스노선ID1' : '노선ID', '승차역ID1' : '표준정류장ID'})

df_usage2=tripChain[['버스노선ID2', '승차역ID2']]
df_usage2 = df_usage2.rename(columns={'버스노선ID2' : '노선ID', '승차역ID2' : '표준정류장ID'})

df_usage3=tripChain[['버스노선ID3', '승차역ID3']]
df_usage3 = df_usage3.rename(columns={'버스노선ID3' : '노선ID', '승차역ID3' : '표준정류장ID'})

df_usage4=tripChain[['버스노선ID4', '승차역ID4']]
df_usage4 = df_usage4.rename(columns={'버스노선ID4' : '노선ID', '승차역ID4' : '표준정류장ID'})

df_usage5=tripChain[['버스노선ID5', '승차역ID5']]
df_usage5 = df_usage5.rename(columns={'버스노선ID5' : '노선ID', '승차역ID5' : '표준정류장ID'})

df_usage = pd.concat([df_usage1, df_usage2, df_usage3, df_usage4, df_usage5])
df_usage

In [ ]:
df_usage = df_usage.dropna()
df_usage

In [ ]:
time_table = pd.DataFrame([7, 8, 9, 17, 18, 19])
time_table

In [ ]:
df_usage['key'] = 0
time_table['key'] = 0

df_usage = pd.merge(df_usage, time_table, how='outer', left_on='key', right_on='key')
df_usage

In [ ]:
df_usage = df_usage.drop('key', axis=1)
df_usage

In [ ]:
df_usage.info()

In [ ]:
import numpy as np
df_usage = df_usage.rename(columns={0: '시간대'})
df_usage['승차'] = 0
df_usage['하차'] = 0
df_usage['환승'] = 0
df_usage

In [4]:
def count(route_id, station_id, time, usage_type):
    
    time = str(int(float(time)))
    
    if(time[0:1] == '0'):
        time = time[1:2]
        
#     print(route_id, station_id, time, usage_type)
    
#     print(time in df_usage['시간대'])


    index = df_usage.index[(df_usage['노선ID'] == route_id)
                     & (df_usage['표준정류장ID'] == station_id)
                     & (df_usage['시간대'] == time)]
#     print(index)
#     print(df_usage.loc[index][usage_type])
    df_usage.set_value(index, usage_type, df_usage.loc[index][usage_type]+1 )

In [5]:
tripChain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463624 entries, 0 to 463623
Data columns (total 27 columns):
버스노선ID1    432753 non-null float64
버스노선ID2    147427 non-null float64
버스노선ID3    40275 non-null float64
버스노선ID4    5328 non-null float64
버스노선ID5    934 non-null float64
승차역ID1     463624 non-null int64
승차역ID2     199279 non-null float64
승차역ID3     44080 non-null float64
승차역ID4     0 non-null float64
승차역ID5     0 non-null float64
하차역ID1     0 non-null float64
하차역ID2     0 non-null float64
하차역ID3     0 non-null float64
하차역ID4     5728 non-null float64
하차역ID5     1041 non-null float64
최초승차역ID    0 non-null float64
최종하차역ID    457457 non-null float64
승차시간1      463624 non-null int64
승차시간2      199279 non-null float64
승차시간3      44080 non-null float64
승차시간4      5771 non-null float64
승차시간5      1045 non-null float64
하차시간1      458732 non-null float64
하차시간2      198179 non-null float64
하차시간3      43823 non-null float64
하차시간4      5728 non-null float64
하차시간5      1041 non-null float64
dtypes: float64(25), int64(2)
memory usage: 95.5 MB

In [6]:
tripChain['승차시간1'] = tripChain.승차시간1.astype(str)
tripChain['승차시간2'] = tripChain.승차시간2.astype(str)
tripChain['승차시간3'] = tripChain.승차시간3.astype(str)
tripChain['승차시간4'] = tripChain.승차시간4.astype(str)
tripChain['승차시간5'] = tripChain.승차시간5.astype(str)

tripChain['하차시간1'] = tripChain.하차시간1.astype(str)
tripChain['하차시간2'] = tripChain.하차시간2.astype(str)
tripChain['하차시간3'] = tripChain.하차시간3.astype(str)
tripChain['하차시간4'] = tripChain.하차시간4.astype(str)
tripChain['하차시간5'] = tripChain.하차시간5.astype(str)


tripChain10 = tripChain.dropna(subset=['버스노선ID5'])
tripChain10 = tripChain10.dropna(subset=['하차역ID5'])
tripChain10 = tripChain10.dropna(subset=['하차시간5'])

print(len(tripChain10))
i=0
for index, row in tripChain10.iterrows():  
    print(i)
    i = i+1
    count(row['버스노선ID5'], row['하차역ID5'], row['하차시간5'], "하차")
    
df_usage.to_csv('df_usage_hacha5.csv', sep=',')

In [7]:
tripChain3 = tripChain.dropna(subset=['버스노선ID3'])
tripChain3 = tripChain3.dropna(subset=['승차역ID3'])
tripChain3 = tripChain3.dropna(subset=['승차시간3'])
print(len(tripChain3))

40275

In [8]:
df_usage.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 173796 entries, 0 to 3722687
Data columns (total 6 columns):
노선ID       173796 non-null float64
표준정류장ID    173796 non-null float64
시간대        173796 non-null object
승차         173796 non-null int64
하차         173796 non-null int64
환승         173796 non-null int64
dtypes: float64(2), int64(3), object(1)
memory usage: 9.3+ MB

In [14]:
i = 0
for index, row in tripChain3[40001:40275].iterrows():
    print(i)
    i += 1
    count(row['버스노선ID3'], row['승차역ID3'], row['승차시간3'], "환승")
    
df_usage.to_csv('df_usage_hacha45_seungcha3.csv', sep=',')

0
1
2
3
4
5
6
7
8
9
10
11

c:\python37\lib\site-packages\ipykernel_launcher.py:18: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273

In [15]:
df_usage[df_usage['환승'] != 0]

               노선ID    표준정류장ID 시간대  승차  하차  환승
7        41020001.0  4100127.0   8   0   0   4
8        41020001.0  4100127.0   9   0   0   7
10       41020001.0  4100127.0  18   0   0  15
11       41020001.0  4100127.0  19   0   0  17
16       41031019.0  4108052.0  18   0   0   3
...             ...        ...  ..  ..  ..  ..
3722372  41424002.0  4111730.0   9   0   0   1
3722497  11110736.0  9011742.0   8   0   0   1
3722582  41062101.0  4160096.0   9   0   0   1
3722590  41223006.0  4179147.0  18   0   0   1
3722684  41283011.0  4107159.0   9   0   0   1

[14206 rows x 6 columns]